@font-face {
    font-family:'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family:'open_sanslight';
}

h1, h2, h3, h4, h5, h6 {
    font-family:'open_sansregular';
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family:'open_sansregular';
}

h1 {
    font-weight: bolder;
}

h3 {
    font-size: 17.5px;
    margin-top: 0;
    margin-bottom: 10px;
}

h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

a.btn {
    color: #FFF;
}

a.btn:hover {
    color: #FFF;
}

a.btn-neutral,
a.btn-neutral:hover {
    color: #000;
}

.btn {
    border-radius: 0;
    font-family:'open_sansregular';
}

.btn.fa {
    border-radius: 0;
    font-family:'FontAwesome' !important;
}

.btn:active, .btn:focus, .navbar-toggle:focus, .navbar-toggle:active {
    outline: none;
}

.navbar-toggle:focus, .navbar-toggle:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-artists {
    background-color:#e74c3c;
}

.btn-artists:hover {
    background-color: #e96051;
}

.btn-authors {
    background-color:#f8941e;
}

.btn-authors:hover {
    background-color:#ffb154;
}

.btn-charts {
    background-color:#1bbc9b;
}

.btn-charts:hover {
    background-color: #0db492;
}

.btn-news {
    background-color:#ff6600;
}

.btn-news:hover {
    background-color: #ff8737
}

.btn-podcasts {
    background-color:#107fc9;
}

.btn-podcasts:hover {
    background-color:#54c9ff;
}

.btn-programs {
    background-color:#19b5fe
}

.btn-programs:hover {
    background-color: #49c1fa
}

.btn-schedule {
    background-color:#9b59b6;
}

.btn-songs {
    background-color:#2ecc71;
}

.btn-songs:hover {
    background-color:#53d68b
}

.btn-neutral {
    background-color: #f2f2f2;
}

.btn-neutral:hover {
    background-color: #d6d6d6;
}

.btn-fb {
    background-color: #38619f;
}

.btn-twitter {
    background-color: #2eacdf;
}

.color-white {
    color: #FFFFFF;
}

.color-artists {
    color:#e74c3c;
}

.color-authors {
    color:#f8941e;
}

.color-charts {
    color:#1bbc9b;
}

.color-labels {
    color:#9b59b6;
}

.color-news,
.color-news:hover {
    color:#ff6600;
}

.color-podcasts {
    color:#107fc9;
}

.color-programs {
    color:#19b5fe;
}

.color-songs {
    color:#2ecc71;
}

.color-warning {
    color: #f8941e;
}

.color-neutral {
    color: #f2f2f2;
}

.bold {
    font-weight: bold;
}

.player-hidden {
    display: inline;
    visibility: hidden;
}

.transition {
    -webkit-transition: all 300ms 100ms;
       -moz-transition: all 300ms 100ms ease;
         -o-transition: all 300ms 100ms ease;
            transition: all 300ms 100ms ease;
}

.dark-gradient::after {
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.37) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,0.37)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.37) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.37) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.37) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.37) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
}

.dark-gradient:hover::after {
    display: none;
}   

.light-orange-gradient::after {
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.65;
    background-color: rgba(248,146,30,0.5);
    background: rgba(248,146,30,0.5);
    background: -moz-linear-gradient(top, rgba(248,146,30,0.5) 0%, rgba(0,0,0,0.6) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,146,30,0.5)), color-stop(100%, rgba(0,0,0,0.6)));
    background: -webkit-linear-gradient(top, rgba(248,146,30,0.5) 0%, rgba(0,0,0,0.6) 100%);
    background: -o-linear-gradient(top, rgba(248,146,30,0.5) 0%, rgba(0,0,0,0.6) 100%);
    background: -ms-linear-gradient(top, rgba(248,146,30,0.5) 0%, rgba(0,0,0,0.6) 100%);
    background: linear-gradient(to bottom, rgba(248,146,30,0.5) 0%, rgba(0,0,0,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8921e', endColorstr='#000000', GradientType=0 );
}

.orange-gradient::after {
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.65;
    background-color: rgba(255,102,0,1);
    background-size : 100%;
    background: rgba(255,102,0,1);
    background: -moz-linear-gradient(top, rgba(255,102,0,1) 0%, rgba(0,0,0,0.6) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,102,0,1)), color-stop(100%, rgba(0,0,0,0.6)));
    background: -webkit-linear-gradient(top, rgba(255,102,0,1) 0%, rgba(0,0,0,0.6) 100%);
    background: -o-linear-gradient(top, rgba(255,102,0,1) 0%, rgba(0,0,0,0.6) 100%);
    background: -ms-linear-gradient(top, rgba(255,102,0,1) 0%, rgba(0,0,0,0.6) 100%);
    background: linear-gradient(to bottom, rgba(255,102,0,1) 0%, rgba(0,0,0,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6600', endColorstr='#000000', GradientType=0 );
}

.orange-gradient:hover::after {
    background-color: rgba(248,146,30,0.5);
    background: rgba(248,146,30,0.5);
    background: -moz-linear-gradient(top, rgba(248,146,30,0.5) 0%, rgba(0,0,0,0.6) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,146,30,0.5)), color-stop(100%, rgba(0,0,0,0.6)));
    background: -webkit-linear-gradient(top, rgba(248,146,30,0.5) 0%, rgba(0,0,0,0.6) 100%);
    background: -o-linear-gradient(top, rgba(248,146,30,0.5) 0%, rgba(0,0,0,0.6) 100%);
    background: -ms-linear-gradient(top, rgba(248,146,30,0.5) 0%, rgba(0,0,0,0.6) 100%);
    background: linear-gradient(to bottom, rgba(248,146,30,0.5) 0%, rgba(0,0,0,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8921e', endColorstr='#000000', GradientType=0 );
}

#container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#inner-wrapper.menu-open #header,
#inner-wrapper.menu-open #main {
    -webkit-transform: translate3d(-75%, 0, 0) scale3d(1, 1, 1);
       -moz-transform: translate3d(-75%, 0, 0) scale3d(1, 1, 1);
        -ms-transform: translate3d(-75%, 0, 0) scale3d(1, 1, 1);
         -o-transform: translate3d(-75%, 0, 0) scale3d(1, 1, 1);
            transform: translate3d(-75%, 0, 0) scale3d(1, 1, 1);
            -webkit-backface-visibility: hidden;
               -moz-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                 -o-backface-visibility: hidden;
                    backface-visibility: hidden;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
}

#header.header-fixed {
    position: fixed;
}

#header.header-translated {
    position: fixed;
    -webkit-transform: translate3d(0, -250px, 0) scale3d(1, 1, 1);
       -moz-transform: translate3d(0, -250px, 0) scale3d(1, 1, 1);
        -ms-transform: translate3d(0, -250px, 0) scale3d(1, 1, 1);
         -o-transform: translate3d(0, -250px, 0) scale3d(1, 1, 1);
            transform: translate3d(0, -250px, 0) scale3d(1, 1, 1);
            -webkit-backface-visibility: hidden;
               -moz-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                 -o-backface-visibility: hidden;
                    backface-visibility: hidden;
}

#header.header-fixed #hg{
    display: none;
    visibility: hidden;
}

#header.header-fixed #main{
    padding-top: 50px;
}

#hg {
    width: 100%;
    height: 250px;
    position: relative;
    top: 0;
    background-color: #333333;
}

#hg .hg-carousel {
    height: 250px;
}

#hg .hg-grid {
    width: 100%;
    height: 100%;
}

#hg .hg-grid .hg-figure {
    width: 100%;
    height: 250px;
    background-size: cover;
    position: relative;
    padding: 0;
}

#hg .hg-grid .hg-figure .hg-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    text-decoration: none;
}

#hg .hg-grid .hg-figure h3,
#hg .hg-grid .hg-figure h4 {
    position: absolute;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 5;
}

#hg .hg-grid .hg-figure h3 {
    font-size: 16px;
    bottom: 10px;
    right: 20px;
    text-align: right;
}

#hg .hg-grid .hg-figure h4 {
    font-size: 14px;
    top: 10px;
    left: 20px;
}

#hg .hg-grid .hg-figure h3 a,
#hg .hg-grid .hg-figure h4 a {
    color: #FFF; 
    z-index: 5;
}

#hg .hg-grid .hg-figure h3 a:hover,
#hg .hg-grid .hg-figure h4 a:hover {
    color: #FF6600;
}

#navbar {
    border-radius: 0;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

#navbar ul {
    margin: 0;
}

#navbar ul li {
    float: none;
    overflow: hidden;
}

#navbar button {
    display: block;
    float: right;
    width: 75px;
    height: 50px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    border-left: 1px solid #FFF;
    border-radius: 0;
    line-height: 50px;
    font-size: 28px;
    color: #333;
}

#navbar #small-logo {
    padding: 3px;
    position: absolute;
    left: 15px;
    z-index: 10001;
}

#navbar .player-container {
    display: block;
    float: right;
    width: 75px;
    margin: 0;
}

#navbar .player-volume-up, #navbar .player-volume-off {
    display: none;
    visibility: hidden;
}

#navbar #navbar-control.slided {
    display: block!important;
    visibility: visible!important;
    -webkit-transform: translate3d(150px, 0, 0) scale3d(1, 1, 1);
       -moz-transform: translate3d(150px, 0, 0) scale3d(1, 1, 1);
        -ms-transform: translate3d(150px, 0, 0) scale3d(1, 1, 1);
         -o-transform: translate3d(150px, 0, 0) scale3d(1, 1, 1);
            transform: translate3d(150px, 0, 0) scale3d(1, 1, 1);
}

#side-menu {
    background-color: #333333;
    position: fixed;
    width: 75%;
    height: 100%;
    z-index: 10005;
    top: 0;
    right: 0;
    -webkit-transform: translate3d(100%, 0, 0) scale3d(1, 1, 1);
       -moz-transform: translate3d(100%, 0, 0) scale3d(1, 1, 1);
        -ms-transform: translate3d(100%, 0, 0) scale3d(1, 1, 1);
         -o-transform: translate3d(100%, 0, 0) scale3d(1, 1, 1);
            transform: translate3d(100%, 0, 0) scale3d(1, 1, 1);
            -webkit-backface-visibility: hidden;
               -moz-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                 -o-backface-visibility: hidden;
                    backface-visibility: hidden;
}

#side-menu.menu-open {
    overflow-y: scroll;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
       -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
         -o-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
}

#side-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#side-menu #big-logo {
    font-size: 18px
}

#side-menu ul li a {
    display: block;
    padding: 8px 15px;
    border-top: 1px solid #444444;
    border-bottom: 1px solid #232323;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}

#side-menu ul li a:hover {
    color: #000;
    border-top: 1px solid #A0A0A0;
    border-bottom: 1px solid #A0A0A0;
    background-color: #F2F2F2;
}

#side-menu ul li a .btn {
    margin: 0 5px;
    width: 40px;
}

#side-menu h1 {
    margin: 0 15px;
    padding: 10px 0;
    text-transform: uppercase;
}

#side-menu #search-controls {
    position: relative;
}

#side-menu #search-controls .popover {
    top: 55px;
    left: 15px;
}

#side-menu #search {
    -webkit-appearance: none;
    width: 60%;
    display: inline-block;
    border-radius: 0;
    margin: 15px;
}

#side-menu #search-btn {
    padding: 10px 20px;
}

#on-air {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    text-align: center;
    z-index: 10001;
}

#on-air.on-air-closed {
    -webkit-transform: translate3d(0, 100%, 0);
       -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
         -o-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
            -webkit-backface-visibility: hidden;
               -moz-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                 -o-backface-visibility: hidden;
                    backface-visibility: hidden;
}

#on-air #song-info {
    height: 100%;
}

#on-air #song-info h2, #on-air #song-info h3 {
    margin: 0;
    color: #FFFFFF;
    text-transform: uppercase;
}

#on-air #song-info h2 {
    padding: 5px;
    background-color: #ff6600;
    text-align: center;
    font-size: 1em;
}

#on-air #song-info h3 {
    font-weight: bold;
    text-shadow : 1px 1px 1px #000;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

#on-air #cover-wrapper {
    width: 100%;
    height: 40%;
}

#on-air #cover {
    position: relative;
    margin: 0;
    height: 100%;
    background-position: 50%;
    background-size: cover;
}

#on-air #song-content {
    display: none;
    visibility: hidden;
}

#on-air .player-container {
    height: 25%;
}

#on-air .player-control {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 52px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 0;
}

#on-air .player-control:active {
    box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.125);
}

#on-air .player-volume-up, 
#on-air .player-volume-off {
    display: none;
    visibility: hidden;
}

#on-air #like {
    background-color: #e74c3c;
    width: 100%;
    height: 35%;
    margin: 0;
    padding: 0;
    position: relative;
    border: none;
    font-size: 56px;
    text-align: center;
}

#on-air #like:active {
    font-size: 50px;
    box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.125);
}

#on-air #like span {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -28px;
}

#on-air #like h4 {
    margin: 0;
}

#main {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    position: relative; 
    padding-top: 50px;       
}

#main .content h1.single-title {
    margin: 0 0 10px;
    padding: 10px 10px 0;
    text-transform: uppercase;
}

#main .content h2.single-subtitle {
    margin: 10px auto 0;
    padding: 0 10px 0;
    font-size: 28px;
    text-transform: uppercase;
}


/* Media elements */
#main .media {
    margin: 0;
    padding: 15px 10px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #f2f2f2;
}

#main .media a {
   text-decoration: none;
}

#main .media .media-label {
    text-align: center;
    text-transform: uppercase;
    width: 75px;
    padding: 2px 0;
    color: #FFF;
}

#main .media .media-body {
    padding: 0 0 0 10px;
    position: absolute;
    left: 85px;
}

#main .media .media-heading {
    text-transform: uppercase;
    margin: auto;
    font-weight: bold;
}

#main .media .media-controls {
    float: right;
    overflow: hidden;
}

#main .media .media-object {
    width: 75px;
    height: 75px;
}

#main .media > .badge {
    float: right;
}

/* Media first news */
#main .media.media-first {
    padding: 20px 10px;
}

#main .media.media-first .media-heading {
    margin-bottom: 20px;
}

#main .media.media-first .media-body {
    position: relative;
    left: 0;
    padding: 5px 0;
}

#main .media.media-first .media-object {
    width: 100%;
    height: 185px;
}

#main .loader {
    width: 100%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    background-color: #f2f2f2;
    text-align: center;
    clear: left;
}

#main .loader > .spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}

#main .loader > .spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
          animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#main .loader > .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}

#main .loader > .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* LIST ITEMS */
#main .list-group {
    padding: 0;
    margin: 0;
}

#main .list-group-subtitle {
    margin: 20px;
    padding-top: 20px;
}

#main .list-group .list-divider {
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
}

#main .list-group .list-divider .list-divider-title {
    margin: 0;
    line-height: 50px;
}

#main .list-group-item {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    overflow: hidden;
}

#main .list-group-item .list-object {
    display: block;
    width: 65px;
    height: 65px;
}

#main .list-group-item .list-image {
    width: 65px;
    height: 65px;
    
}

#main .list-group-item .list-body {
    width: 75%;
    padding: 0 0 0 10px;
    position: relative;
}

#main .list-group-item .list-body > h4 {
    margin-top: 0;
}

#main .list-group-item .list-category-wrapper {
    margin: 5px 0;
    padding: 0;
}

#main .list-group-item .list-category {
    display: inline;
    list-style-type: none;
}

/* LIST ITEM COLLAPSED */
#main .list-group.collapsed .list-divider {
    text-align: center;
}

#main .list-group.collapsed .list-group-item {
    text-align: center;
}

#main .list-group.collapsed .list-group-item .list-object {
    width: 125px;
    height: 125px;
    margin: 10px auto;
    float: none !important;
}

#main .list-group.collapsed .list-group-item .list-image {
    width: 125px;
    height: 125px;
}

#main .list-group.collapsed .list-group-item .list-body {
    width: 100%;
    float: none !important;
}

/* COLLAPSIBLE PANEL STYLES */
#main .panel-group .panel {
    border-radius: 0;
}

#main .panel-group .panel-default {
    border: none;
}

#main .panel-group .panel.open .panel-heading {
    background-color: #9b59b6;
    color: #FFF;
}

#main .panel-heading {
    background-color: #f2f2f2;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bolder;
}

#main .panel-title > a {
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    cursor: pointer;
}

#main .panel-body {
    padding: 0;
    border: none;
}

#main .single {
    position: relative;
    overflow: hidden;
}

#main .cover-wrapper {
    position: relative;
    width: 100%;
    height: 400px;
}

#main .cover-wrapper::after {
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(255,255,255,0.1);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.71) 56%, rgba(0,0,0,0.72) 57%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.1)), color-stop(56%, rgba(0,0,0,0.71)), color-stop(57%, rgba(0,0,0,0.72)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.71) 56%, rgba(0,0,0,0.72) 57%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.71) 56%, rgba(0,0,0,0.72) 57%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.71) 56%, rgba(0,0,0,0.72) 57%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.71) 56%, rgba(0,0,0,0.72) 57%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
}

#main .cover {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    min-height: 400px;
    position: absolute;
}

#main .cover .cover-picker {
    position: absolute;
    width: 100%;
    top: 85px;
    z-index: 2;
}

#main .cover .cover-picker .cover-header {
    margin: 0 auto;
    text-align: center;
    color: #FFF;
}

#main .cover .cover-picker .cover-header .cover-title {
    font-size: 26px;
    font-weight: bold;
    word-wrap: break-word;
    text-transform: uppercase;
}

#main .cover-picker .cover-header .cover-author-picture {
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

#main .cover-picker .cover-header .cover-author-pictures {
    height: 45px;
    margin: 0 auto;
}

#main .cover-picker .cover-header .cover-author-picture img,
#main .cover-picker .cover-header .cover-author-pictures img {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    border: 2px solid #f2f2f2;
}

#main .cover-picker .cover-header .cover-info {
    font-size: 22px;
}

#main .single .single-article {
    margin-top: 40px;
    padding: 0 25px;
    font-family: 'open_sansregular';
}

#main .single .single-article p {
    font-size: 19.5px;
    line-height: 1.8em;
    margin: 0 0 1em;
}

#main .single .single-article:first-letter {
    font-size: 72px;
    font-weight: bold;
}

#main .single .single-article-info {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 25px;
}

#main .single .single-article-info .single-article-author,
#main .single .single-article-info .single-article-taxonomy {
    border-top: 1px solid #f2f2f2;
    padding-top: 20px;
    padding-bottom: 20px;
}

#main .single .single-article-info .single-article-author .author-info {
    display: block;
    overflow: hidden;
    margin: 10px 0;
}

#main .single .single-article-info .single-article-author .author-info:hover {
    background-color: #F2F2F2;
}

#main .single .single-article-info .single-article-author .author-picture {
    padding: 0  10px 0 0 ;
}

#main .single .single-article-info .single-article-author .author-picture img {
    width: 65px;
    height: 65px;
}

#main .single .single-article-info .single-share {
    margin: 20px 0;
}

#main .single .single-article-info .single-share .btn {
    width: 100%;
    margin: 5px 0;
    font-size: 2em;
}

#main .single .single-article-info #information {
    padding: 0 0 0 10px;
}

#main .single .single-article-info #information .information-item {
    font-size: 17.5px;
}

#main .single .single-article img {max-width: 100%;}
#main .single .single-article img.alignright {float:right; margin:0 0 1em 1em; width: 100%; height: auto;}
#main .single .single-article img.alignleft {float:left; margin:0 1em 1em 0; width: 100%; height: auto;}
#main .single .single-article img.aligncenter {display: block; margin-left: auto; margin-right: auto; width: 100%; height: auto;}
#main .single .single-article a img.alignright {float:right; margin:0 0 1em 1em; width: 100%; height: auto;}
#main .single .single-article a img.alignleft {float:left; margin:0 1em 1em 0; width: 100%; height: auto;}
#main .single .single-article a img.aligncenter {display: block; margin-left: auto; margin-right: auto; width: 100%; height: auto;}

#main .single .single-navigation {
    overflow: hidden; 
    clear: left;
}

#main .single .single-article-prev,
#main .single .single-article-next {
    display: block;
    width: 100%;
    background-color: #f2f2f2;
    margin: 25px 0;
    text-align: center;
    padding: 15px;
    font-size: 16px;
}

/* PAGE SPECIFIC STYLES */
#main #legend {
    text-align: center;
}

#main #legend .unordered {
    padding: 0;
    margin: 0;
    width: 55%;
    margin: 0 auto 20px;
    text-align: center;
}

#main #legend .legend-item {
    display: inline-block;
    padding: 4px;
}

#main #legend .form-control {
    width: 95%;
    margin: 10px auto 25px;
    border-radius: 0;
    border: 1px solid #d6d6d6;
    box-shadow: none;
}

#main #charts .chart-controls {
    position: absolute;
    top: 50%;
    right: 0;
    height: 35px;
    margin-top: -17.5px;
    text-align: center;
}

#main #charts .chart-controls .btn-charts {
    width: 45px;
}

#main #chart .song-controls,
#main #songs .song-controls {
    margin: 10px 0;
}

#main #chart .song-controls .btn,
#main #songs .song-controls .btn {
    display: block;
    width: 100%;
    margin: 10px 0;
    font-size: 18px;
}

#main #chart .song-controls .btn-vote {
    color: #FFF;
}

#main #chart .song-controls .btn-vote:hover {
    cursor: default;
}

#main #chart .btn-like {
    position: relative;
}

#main #chart .btn-like .popover {
    display: none;
    top: -50px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
}

#podcast .player-container {
    text-align: center;
    margin: 20px 0;
    overflow: hidden;
}

#podcast .player-container .btn {
    display: block;
    width: 50%;
    float: left;
    font-size: 3em;
    padding: 30px;
    border: 5px solid #FFF;
}

#podcast .player-container .btn:hover {
    background-color: #f8941e;
    color: #FFF;
}

#podcast .player-container .player-volume-up,
#podcast .player-container .player-volume-off {
    display: none;
}

#podcast .player-container .jp-progress {
    background: none;
    border: 5px solid #fff;
    background-color: #f2f2f2;
    width: 100%;
    height: 40px;
    padding: 0;
    overflow: hidden;
    margin: 5px 0;
    display: block !important;
    visibility: visible!important;
}

#podcast .player-container .jp-seek-bar {
    background: none;
    width: 0px;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

#podcast .player-container .jp-play-bar {
    background: none;
    width: 0px;
    height: 100%;
    overflow: hidden;
    background-color: #f8941e;
}

#podcast .player-container .jp-time-holder {
    display: block !important;
    visibility: visible!important;
}

#podcast .player-container .jp-current-time,
#podcast .player-container .jp-duration {
    color: #000;
    font-size: 1em;
}

#podcast .player-container .jp-current-time {
    float: left;
    text-align: left;
    padding-left: 5px;
}

#podcast .player-container .jp-duration {
    float: right;
    text-align: right;
    padding-right: 5px;
}



#main #schedule-legend {
    border: 1px solid #f2f2f2;
    padding: 5px;
}

#main #schedule-legend .legend-title {
    margin: 5px 10px;
}

#main #schedule-legend .unordered {
    list-style-type: none;
    padding: 0
}

#main #schedule-legend .unordered .legend-item {
    margin: 10px;
}

#main #schedule-legend .btn {
    width: 50px;
}

#media-query {
    width: 0;
    height: 0;
    visibility: hidden;
}

#footer {
    clear: left;
    margin-top: 100px;
    padding: 10px;
    border-top: 1px solid #f2f2f2;
    height: 100px;
}

#credits {
    padding-bottom: 10px;
    text-align: center;
}

@media(min-width:768px) {
    h3 {
        font-size: 20px;
    }

    #header.header-translated {
        position: fixed;
        -webkit-transform: translate3d(0, -500px, 0) scale3d(1, 1, 1);
           -moz-transform: translate3d(0, -500px, 0) scale3d(1, 1, 1);
            -ms-transform: translate3d(0, -500px, 0) scale3d(1, 1, 1);
             -o-transform: translate3d(0, -500px, 0) scale3d(1, 1, 1);
                transform: translate3d(0, -500px, 0) scale3d(1, 1, 1);
                -webkit-backface-visibility: hidden;
                   -moz-backface-visibility: hidden;
                    -ms-backface-visibility: hidden;
                     -o-backface-visibility: hidden;
                        backface-visibility: hidden;
    }

    #hg {
        height: 500px;
    }

    #hg .hg-grid .hg-figure {
        width: 50%;
        height: 250px;
        position: relative;
        padding: 0;
    }

    #hg .hg-grid .hg-figure h3 {
        font-size: 16px;
    }

    #hg .hg-grid .hg-figure h4 {
        font-size: 14px;
    }

    #navbar #navbar-control.slided {
        display: block!important;
        visibility: visible!important;
        -webkit-transform: translate3d(300px, 0, 0) scale3d(1, 1, 1);
           -moz-transform: translate3d(300px, 0, 0) scale3d(1, 1, 1);
            -ms-transform: translate3d(300px, 0, 0) scale3d(1, 1, 1);
             -o-transform: translate3d(300px, 0, 0) scale3d(1, 1, 1);
                transform: translate3d(300px, 0, 0) scale3d(1, 1, 1);
    }

    /* On air widget. */
    #on-air #cover {
        position: absolute;
        left: 0;
        width: 50%;
        height: 50%;
        background-position: 50%;
        background-size: cover;
    }

    #on-air #song-content {
        display: block;
        visibility: visible;
        overflow-y: scroll;
        position: absolute;
        right: 0;
        width: 50%;
        height: 50%;
        background-color: #f2f2f2;
        border-left: 1px solid #A0A0A0;
    }

    #on-air #song-content h4 {
        text-align: left;
        padding: 0 0 0 10px;
    }

    #on-air #lyrics {
        text-align: left;
        padding: 0 0 0 10px;
    }

    #on-air #like {
        position: absolute;
        height: 25%;
        bottom: 0;
        left: 0;
    }

    #navbar .player-volume-up, #navbar .player-volume-off {
        display: block;
        visibility: visible;
    }

    #on-air .player-control {
        width: 33.3%;
        float: left;
        border-right: 1px solid #A0A0A0;
        border-left: 1px solid #A0A0A0;
    }

    #on-air .player-volume-up, 
    #on-air .player-volume-off {
        display: block;
        visibility: visible;
        display: block;
        width: 33.3%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-size: 52px;
        background-color: #FFFFFF;
        border: none;
        border-radius: 0;
        float: left;
    }

    /* Main content general rules */
    #main .content h1.single-title {
       margin: 0 0 25px;
       padding: 25px 15px 0;
       font-size: 72px;
       text-transform: uppercase;
    }

    #main .content h2.single-subtitle {
       margin: 0 0 25px;
       font-size: 36px;
    }

    #main .content h4.single-heading {
       margin: 20px 0;
       padding: 0 50px;
    }

    /* Media block elements */
    #main .media-block-wrapper {
        overflow: hidden;
    }

    #main .media-block-subtitle {
        margin: 20px;
        padding-top: 20px;
        border-top: 4px solid #f2f2f2;
    }

    #main .media-block {
        position: relative;
    }

    #main .media-block > .thumbnail {
        border-radius: 0;
        padding: 0;
        position: relative;
        margin-bottom: 30px;
    }

    #main .media-block > .thumbnail.thumbnail-fixed {
        height: 360px;        
    }

    #main .media-block .media-block-category {
        position: absolute;
        top: 0;
        right: 0;
    }

    #main .media-block > .thumbnail > .media-block-link {
        display: block;
        position: relative;
        text-align: center;
        background-color: #f2f2f2;
    }

    #main .media-block > .thumbnail .media-block-img {
        width: 300px;
        height: 199px;
        display: inline-block;
    }

    #main .media-block .media-block-link > .caption-hover {
        display: block;
        overflow: hidden;
        font-size: 16px;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        padding: 10px;
        color: #FFF;
        text-transform: uppercase;
        z-index: 1;
        text-align: center;
        width: 100%;
    }

    #main .media-block .media-block-more {
        position: absolute;
        left: 10px;
        bottom: 10px;
    }

    /* Media Block First Article */
    #main .media-block.media-block-first > .thumbnail {
        overflow: hidden;
        width: 50%;
        height: 300px;
        float: left;
    }

    #main .media-block.media-block-first .media-block-category {
        position: absolute;
        top: 0;
        right: 0;
    }

    #main .media-block.media-block-first > .thumbnail > .media-block-link {
        
    }

    #main .media-block.media-block-first > .thumbnail .media-block-img {
        width: 100%;
        height: 100%;
    }

    #main .media-block.media-block-first .caption {
        position: absolute;
        left: 0;
        bottom: 0;
        border: none;
        background-color: #000;
        opacity: .85;
        width: 100%;
        color: #FFFFFF;
    }

    #main .media-block.media-block-first .caption > h3 > a {
        color: #FFFFFF;
    }

    #main .media-block.media-block-first .caption .media-block-author {
        margin: 15px 0;
    }

    #main .media-block.media-block-first .media-block-more {
        position: absolute;
        left: : 10px;
        bottom: 10px;
    }

    #main .media-block.media-block-first .single-share {
       display: none;
    }

    /* List elements */
    #main .list-group.collapsed .list-divider {
        text-align: left;
        padding-left: 20px;
    }

    #main .list-group .list-group-item,
    #main .list-group.collapsed .list-group-item {
        text-align: left;
        padding: 20px 15px;
    }

    #main .list-group.collapsed .list-group-item .list-object {
        float: left !important;
    }

    #main .list-group.collapsed .list-group-item .list-body {
        width: 80%;
        float: left !important;
    }

    #main .cover-wrapper {
        height: 600px;
    }

    #main .cover .cover-picker {
        top: 350px;
    }

    #main .cover .cover-picker .cover-header {
        width: 675px;
        margin: 0 auto;
    }

    #main .cover .cover-picker .cover-header .cover-title {
        font-size: 32px;
    }

    #main .cover .cover-picker .cover-header .cover-info {
        font-size: 22px;
    }

    #main .single .single-article img.alignright {width: auto; height: auto;}
    #main .single .single-article img.alignleft {width: auto; height: auto;}
    #main .single .single-article img.aligncenter {width: auto; height: auto;}
    #main .single .single-article a img.alignright {width: auto; height: auto;}
    #main .single .single-article a img.alignleft {width: auto; height: auto;}
    #main .single .single-article a img.aligncenter {width: auto; height: auto;}

    #main .single .single-article-info .single-share .btn {
        width: 150px;
        margin: 5px 0;
        font-size: 2em;
    }

    #main .single .single-article-info #information {
        padding: 0 0 0 2em;
    }

    #main .single .single-navigation {
        padding-top: 50px;
    }

    #main .single .single-article-prev,
    #main .single .single-article-next {
        width: 25%;
    }

    #main .single .single-article-prev {
        float: left;
    }

    #main .single .single-article-next {
        float: right;
    }

    #main #comments {
        overflow: hidden;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    #main #comments #disqus_thread {
        margin-top: 35px;
    }

    /* PAGE SPECIFIC STYLES */
    /* hide last podcast in homepage on 3 column */
    #main #podcasts-block .media-block:last-of-type {
        display: none;
    }

    #main #charts .chart-controls,
    #main #chart  .song-controls {
        position: absolute;
        top: 50%;
        right: 0;
        height: 47px;
        margin-top: -23.5px;
        text-align: center;
    }

    #main #charts .chart-controls .btn-charts {
        width: 45px;
    }

    #main #chart .song-controls .btn {
        display: inline-block;
        padding: 10px 16px;
        width: 55px;
    }

    #podcast .player-container .btn {
        width: 25%;
        font-size: 5em;
    }

    #podcast .player-container .player-volume-up,
    #podcast .player-container .player-volume-off {
        display: block;
    }

    #main #songs  .song-controls {
        position: absolute;
        top: 50%;
        right: 0;
        height: 110px;
        margin-top: -55.5px;
        text-align: center;
    }

    #main #songs .song-controls .btn {
        width: auto;
    }
}

@media(min-width:992px) {
    h3 {
        font-size: 22px;
    }

    /* Media Block First Article */
    #main .media-block.media-block-first > .thumbnail {
        height: 350px;
    }

    #main .media-block > .thumbnail.thumbnail-fixed {
        height: 400px;        
    }

    #main .media-block.media-block-first .single-share {
        display: block;
        position: absolute;
        right: 15px;
        bottom: 15px;
    }

    #main .media-block.media-block-first .single-share .btn {
        width: 40px;
        padding: 6px 12px;
        font-size: 14px;
    }

    #main .single .single-article-prev,
    #main .single .single-article-next {
        width: 20%;
    }

}

@media(min-width:1200px) {
    h3 {
        font-size: 24px;
    }

    #hg .hg-grid .hg-figure {
        width: 33%;
        height: 250px;
        position: relative;
        padding: 0;
    }

    /* Media blocke elements */
    #main .media-block .caption .caption-title {
        overflow: hidden;
        min-height: 48px;
        font-size: 20px;
        height: 48px;
        font-weight: bold;
        position: relative;
    }    

    #main .media-block .caption .caption-title::after {
        height: 20px;
    }

    #main .media-block.media-block-first > .thumbnail {
        height: 350px;
    }

    #main .media-block.media-block-first > .thumbnail .media-block-img {
        height: 350px;
    }

    /* Single article */
    #main .single .single-article-info .single-share .btn {
        width: 49%;
        margin: 0;
    }

    #main .single .single-article-prev,
    #main .single .single-article-next {
        width: 15%;
        font-size: 18px;
    }

    /* hide last podcast in homepage on 3 column */
    #main #podcasts-block .media-block:last-of-type {
        display: block;
    }
}
