.DS_Store
node_modules
.tmp
*.log
*.sass-cache
*.sln
*.njsproj
heroku
/views
/dist
nbproject
.idea

public/vendor/
public/js/bundle.min.js
public/css/style.css
public/css/style.min.css
public/css/style.css.map