<div id="authors-list" class="content">
    <h1 class="single-title text-center">
        Authors
    </h1>

    <h4 class="media-wrapper-title bolder">
        <span class="fa fa-pencil"></span> All ripers
    </h4>

    <div class="media-wrapper container">
        <div class="media-block col-sm-6 col-md-6 col-lg-4" ng-repeat="a in authors['authors']">
            <div class="thumbnail thumbnail-fixed">
                <a class="media-block-link " ng-href="/authors/{{a.slug}}">
                    <figure class="media-block-img" ng-style="{'background-image': 'url(' + a.author_images.landscape_medium + ')'}"></figure>
                </a>

                <div class="caption">
                    <h3 class="media-block-title bold">
                        <a ng-href="/authors/{{a.slug}}">
                            {{a.nickname}}
                        </a>
                    </h3>

                    <p>
                        <a ng-href="/authors/{{a.slug}}">
                            {{a.email}}
                        </a>
                    </p>

                    <h6>
                        Article written: {{a.number_of_posts}}
                    </h6>
                </div>

                <a ng-href="/authors/{{a.slug}}" class="media-block-more btn btn-authors" role="button">
                    Meet the author <span class="fa fa-angle-right"></span>
                </a> 
            </div>
        </div>

        <loading-spinner data-visible="loading"></loading-spinner>
    </div>
</div>
