<div id="podcasts" class="single content container-fluid" when-scrolled="loadData()">
    <h1 class="single-title text-center">
        Podcasts
    </h1>

    <h2 class="single-subtitle text-center">
        {{subtitle}}
    </h2>

    <div id="legend">
        <h3 class="hidden-xs">
            Choose a program
            <span class="fa fa-microphone"></span>
        </h3>

        <select id="programs-select" class="form-control visible-xs" ng-model="currentProgram">
            <option value="">Choose a program</option>
            <option value="all_programs">All Programs</option>
            <option ng-repeat="pr in programs" value="{{pr.slug}}">{{pr.program_title}}</option>
        </select>

        <ul class="unordered hidden-xs">
            <li class="legend-item">
                <a ng-href="/podcasts" class="btn btn-md btn-podcasts">
                    All Programs
                </a>
            </li>
            <li class="legend-item" ng-repeat="pr in programs">
                <a ng-href="/podcasts/{{pr.slug}}" class="btn btn-md btn-podcasts">
                    {{pr.program_title}}
                </a>
            </li>
        </ul>
    </div>

    <div class="list-wrapper">
        <div class="list-group">
            <div class="list-group-item" ng-repeat="p in podcasts">
                <a class="list-object pull-left" ng-href="/podcasts/{{p.program_slug}}/{{p.id}}">
                    <img class="list-image" ng-src="{{p.podcast_images.thumbnail}}" alt="{{p.title}}" />
                </a>

                <div class="list-body text-left">
                    <h4>
                        {{p.date | dateFormat}}
                    </h4>

                    <h3 class="bold">
                        <a ng-href="/podcasts/{{p.program_slug}}/{{p.id}}"> 
                            {{p.title}} 
                        </a>
                    </h3>

                    <p>
                        <strong>Program:</strong> 

                        <a ng-href="/programs/{{p.program_slug}}" title="{{p.program_title}}">
                            {{p.program_title}}
                        </a>
                    </p>

                    <ul class="list-category-wrapper">
                        <li class="list-category">
                            <strong>
                                With:
                            </strong>
                        </li>

                        <li class="list-category" ng-repeat="a in p.authors">
                            <a ng-href="/authors/{{a.slug}}" title="{{a.nickname}}">
                               {{a.nickname}}{{$last ? '' : ', '}}
                           </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <loading-spinner data-visible="loading"></loading-spinner>
    </div>
</div>
