<div id="artist" class="single content container-fluid" itemscope itemtype="http://schema.org/MusicGroup">
    <div class="cover-wrapper">
        <div class="cover" ng-style="{'background-image': 'url(' + artist.artist_images['image_large'] + ')'}">
            <div class="cover-picker">
                <header class="cover-header">
                    <a ng-href="/artists" class="cover-label btn btn-artists">
                       <span class="fa fa-user"></span> Artists
                    </a>

                    <h1 class="cover-title cover-title-big" itemprop="name">
                        {{artist.artist_title}}
                    </h1>
                </header>
            </div>
        </div>
    </div>

    <div id="artist-information" class="col-lg-6 col-lg-offset-3">
        <ul class="information">
            <li class="information-item" ng-if="artist.artist_lineup">
                <h3>
                    Line up
                </h3>

                {{artist.artist_lineup}}
            </li>

            <li class="information-item" ng-if="artist.artist_label">
                <h3>
                    Label
                </h3>

                {{artist.artist_label}}
            </li>

            <li class="information-item" ng-if="artist.artist_booking">
                <h3>
                    Booking
                </h3>

                {{artist.artist_booking}}
            </li>

            <li class="information-item" ng-if="artist.artist_press">
                <h3>
                    Press
                </h3>

                {{artist.artist_press}}
            </li>

            <li class="information-item" ng-if="artist.artist_email">
                <h3 itemprop="email">
                    Email
                </h3>

                <a ng-href="mailto:{{artist.artist_email}}" title="email">
                    {{artist.artist_email}}
                </a>
            </li>

            <li class="information-item" ng-if="artist.artist_telephone">
                <h3 itemprop="telephone">
                    Telephone
                </h3>

                {{artist.artist_telephone}}
            </li>

            <li class="information-item" ng-if="artist.artist_website">
                <h3>
                    Website
                </h3>

                <a ng-href="{{artist.artist_website}}" title="website" itemprop="sameAs">
                     {{artist.artist_website}}
                </a>
            </li>

            <li class="information-item" ng-if="artist.artist_provincia">
                <h3>
                    Province
                </h3>

                {{artist.artist_provincia}}
            </li>

            <li class="information-item">
                <h3>
                    Biography
                </h3>

                <p class="text-left" ng-bind-html="artist.artist_content" itemprop="description"></p>
            </li>

            <li class="information-item">
                <h3>
                    You can find {{artist.artist_title}} on:
                </h3>

                <a ng-href="{{artist.artist_facebook}}" ng-show="artist.artist_facebook" class="btn btn-square btn-fb">
                    <span class="fa fa-facebook"></span>
                </a>

                <a ng-href="{{artist.artist_twitter}}" ng-show="artist.artist_twitter" class="btn btn-square btn-twitter">
                    <span class="fa fa-twitter"></span>
                </a>

                <a ng-href="{{artist.artist_gplus}}" ng-show="artist.artist_gplus" class="btn btn-square btn-artists">
                    <span class="fa fa-google-plus"></span>
                </a>

                <a ng-href="{{artist.artist_itunes}}" ng-show="artist.artist_itunes" class="btn btn-square btn-podcasts">
                    <span class="fa fa-apple"></span>
                </a>
            </li>
        </ul>

        <!--
        <div class="single-article-taxonomy col-lg-6">
            <h4 class="bold">
                Share this
            </h4>

            <social-buttons data-href="'/artists/' + artist.artist_slug" data-image="artist.artist_images['thumbnail']" data-title="artist.artist_title" data-text="artist.artist_excerpt | stripHtml"></social-buttons>
        </div>
        -->
    </div>
</div>
