<div id="chart" class="single content container">
    <header class="text-center">
        <h1 class="single-title ">
            {{chart.chart_title}}
        </h1>

        <h2 class="single-subtitle">
            {{chart.chart_date | dateFormat}}
        </h2>
    </header>

    <div class="list-wrapper">
        <div class="list-group">
            <div class="list-group-item" ng-repeat="s in chart.songs" itemscope itemtype="http://schema.org/MusicRecording">
                <div class="list-object">
                    <a ng-href="/songs/{{s.song_slug}}">
                        <img class="list-image" ng-src="{{s.song_images['thumbnail']}}" alt="{{s.song_title}}" itemprop="image"/>
                    </a>
                </div>

                <div class="list-body">
                    <h3 class="bold">
                        <a ng-href="/songs/{{s.song_slug}}" itemprop="name">
                            {{s.song_title}}
                        </a>
                    </h3>

                    <h4>
                        Artist:

                        <a ng-href="/songs/{{s.song_slug}}" title="{{s.song_title}}" itemprop="creator">
                             {{s.song_artist}}
                        </a>
                    </h4>

                    <h4>
                        Album :
                        
                        <a ng-href="/songs/{{s.song_slug}}" title="{{s.song_title}}" itemprop="inAlbum">
                             {{s.song_album}}
                        </a>    
                    </h4>

                    <ul class="list-category-wrapper hidden-xs">
                        <li class="list-category">
                            <strong>
                                Tags:
                            </strong>
                        </li>

                        <li class="list-category" ng-repeat="t in s.song_tags">
                            <a ng-href="/songs/{{s.song_slug}}" title="{{s.song_title}}" itemprop="keywords">
                               {{t.name}}{{$last ? '' : ', '}}
                           </a>
                        </li>
                    </ul>
                </div>

                <vote-song data-id-song="s.id_song" data-chart-archive-slug="chart.chart_archive_slug" data-user-vote="s.user_vote">

                </vote-song>
            </div>
        </div>

        <loading-spinner data-visible="loading"></loading-spinner>
    </div>
</div>

<div id="related-charts" ng-if="related">
    <header class="text-center">
        <h2 class="single-subtitle">
           {{chart.chart_title}} Archive
        </h2>
    </header>

    <div class="list-wrapper">
        <div class="list-group">
            <div class="list-group-item" ng-repeat="c in related">
                <div class="list-object">
                    <a ng-href="/charts/{{c.chart_archive_slug}}">
                        <img class="list-image" ng-src="{{c.songs[0].song_images.thumbnail}}" alt="{{c.chart_title}}" />
                    </a>
                </div>

                <div class="list-body">
                    <h4>
                        {{c.chart_date | dateFormat}}
                    </h4>

                    <h3 class="bold">
                        <a ng-href="/charts/{{c.chart_archive_slug}}" title="Go to {{chart.chart_title}}">
                            {{c.songs[0].song_title}}
                        </a>
                    </h3>

                    <h4 class="hidden-xs">
                        Artist:

                        <a ng-href="/charts/{{c.chart_archive_slug}}" title="Go to {{chart.chart_title}}" itemprop="creator">
                             {{c.songs[0].song_artist}}
                        </a>
                    </h4>

                    <h4 class="hidden-xs">
                        Album :
                        
                        <a ng-href="/charts/{{c.chart_archive_slug}}" title="Go to {{chart.chart_title}}" itemprop="inAlbum">
                             {{c.songs[0].song_album}}
                        </a>    
                    </h4>
                </div>
                         
                <div class="list-controls">
                    <a ng-href="/charts/{{c.chart_archive_slug}}" class="song-number">
                        {{c.chart_songs_number}}

                        <span class="text">Songs</span>
                    </a>
                </div>
            </div>
        </div>

        <loading-spinner data-visible="loading"></loading-spinner>
    </div>
</div>

<div class="single-navigation">
    <a ng-href="/charts" class="single-article-prev bold">
        <span class="fa fa-chevron-left"></span>
        <span class="visible-lg-inline">Back to charts</span>
    </a>
</div>