<div id="charts" class="single content container-fluid" when-scrolled="loadData()">
    <h1 class="single-title text-center">
        Charts
    </h1>

    <div class="list-wrapper">
        <div class="list-group" ng-repeat="c in charts">
            <div class="list-group-item" ng-if="$index == 2">
                <div class="adv adv-leaderboard hidden-xs">
                    <adv-unit format="728x90"></adv-unit>
                </div>

                <div class="adv adv-square visible-xs">
                    <adv-unit format="300x250"></adv-unit>
                </div>
            </div>

            <div class="list-group-item">
                <div class="list-object">
                    <a ng-href="/charts/{{c.chart_archive_slug}}">
                        <img class="list-image" ng-src="{{c.songs[0]['song_images']['thumbnail']}}" alt="{{c.chart_title}}" />
                    </a>
                </div>

                <div class="list-body">
                    <h4>
                        {{c.chart_date | dateFormat}}
                    </h4>

                    <h3 class="bold">
                        <a ng-href="/charts/{{c.chart_archive_slug}}">
                            {{c.chart_title}}
                        </a>
                    </h3>

                    <p class="hidden-xs">
                        {{c.chart_excerpt}}
                    </p>
                </div>
                         
                <div class="list-controls">
                    <a ng-href="/charts/{{c.chart_archive_slug}}" class="song-number">
                        {{c.chart_songs_number}}

                        <span class="text">Songs</span>
                    </a>
                </div>
            </div>
        </div>

        <loading-spinner data-visible="loading"></loading-spinner>
    </div>
</div>
