<div id="login" class="single content container-fluid text-center">
    <h1 class="single-title text-center">
        Login
    </h1>

    <div class="media-block-wrapper">
        <h4 class="media-block-subtitle">
            You must be logged in to perform this action.
        </h4>

        <div id="login-buttons">
            <a id="fb-login" ng-click="login()" title="Login with Facebook" class="btn btn-lg btn-login btn-fb">
                <span class="fa fa-facebook"></span>
                Login with Facebook
            </a>
        </div>

        <div class="alert" ng-show="message" ng-class="{'alert-danger' : failure, 'alert-success' : success}">
            <h3 class="bolder color-white">
                {{message}}
            </h3>

            <a href="/" class="color-white">
            	Go back
            </a>
        </div>
    </div>
</div>
