<div id="podcasts-block" class="content">
    <h1 class="single-title text-center">
        Podcasts
    </h1>

    <div class="media-wrapper">
        <h4 class="media-wrapper-title bolder">
            <span class="fa fa-cloud"></span> Latests podcasts
        </h4>

        <div class="media-block col-sm-6 col-md-4 col-lg-3" ng-repeat="p in podcasts">
            <div class="thumbnail thumbnail-fixed" ng-if="p.adv === true">
                <span class="media-block-category btn btn-xs btn-news color-white">
                    Consigliato
                </span>

                <div class="adv-square adv-square-thumbnail">
                    <iframe src="http://rcm-eu.amazon-adsystem.com/e/cm?t=riplive-21&o=29&p=12&l=ur1&category=mp3&banner=1H6NEGKY0M62VKM3G0R2&f=ifr" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
                </div>
            </div>

            <div class="thumbnail thumbnail-fixed" ng-if="p.adv !== true">
                <a class="media-block-link" ng-href="/podcasts/{{p.program_slug}}/{{p.id}}">
                    <figure class="media-block-img" ng-style="{'background-image': 'url(' + p.podcast_images.image_medium + ')'}"></figure>
                </a>

                <a ng-href="/podcasts/{{p.program_slug}}/{{p.id}}" class="media-block-category btn btn-xs btn-podcasts">
                    {{p.program_title}}
                </a>

                <div class="caption">
                    <h3 class="media-block-title bold">
                        <a ng-href="/podcasts/{{p.program_slug}}/{{p.id}}">
                            {{p.title}}
                        </a>
                    </h3>

                    <h5 ng-if="p.authors.length">
                        With:
                        <a ng-repeat="a in p.authors" ng-href="/authors/{{a.slug}}" title="{{a.nickname}}">
                           {{a.nickname}}{{$last ? '' : ', '}}
                        </a>
                    </h5>

                    <h5>
                        {{p.date | dateFormat}}
                    </h5>
                </div>

                <a ng-href="/podcasts/{{p.program_slug}}/{{p.id}}" class="media-block-more btn btn-neutral" role="button">
                    Listen <span class="fa fa-angle-right"></span>
                </a> 
            </div>
        </div>
    </div>
</div>
