<div id="search" class="single content container-fluid" when-scrolled="loadData()">
    <h1 class="single-title text-center">
        Search
    </h1>

    <h2 class="single-subtitle text-center">
        {{subtitle}}
    </h2>

    <div class="list-wrapper">
        <h4 class="list-group-subtitle">
            <span class="fa fa-search"></span> Total results: {{countTotal}}
        </h4>

        <div class="list-group">
            <div class="list-group-item " ng-repeat="p in posts">
                <div class="list-body pull-left">
                    <h3 class="bold">
                    <a ng-href="{{p.link}}" class="btn btn-lg fa" ng-class="p.classes">
                    </a>
                    
                    <a ng-href="{{p.link}}">
                            {{p.title}}
                        </a>
                    </h3>

                    <p ng-bind-html="p.excerpt">

                    </p>
                </div>
            </div>
        </div>

        <loading-spinner data-visible="loading"></loading-spinner>
    </div>
</div>
