<li id="navbar-control" class="transition">
    <button class="navbar-toggle fa fa-bars" ng-click="toggleSideMenu()"></button>

    <button class="player-volume-up btn btn-lg fa fa-volume-up" ng-click="volumeUp()"></button>

    <button class="player-control btn btn-lg btn-news fa fa-play" ng-click="playPause()"></button>

    <button class="player-volume-off btn btn-lg fa fa-volume-off" ng-click="volumeOff()"></button>

    <button id="on-air-btn" class="fa fa-level-up" ng-click="toggleOnAir()"></button>

    <button id="rebel" class="">
        <span class="fa fa-rebel"></span>

        <div class="popover bottom fade in">
            <div class="arrow"></div>

            <div class="popover-inner">
                <div class="popover-content ng-binding">
                    <strong>Gabriele D'Arrigo</strong>, creatore di questo sito,
                    in totale autonomia da Riplive.it,<br/>
                    <strong>boicotta Expo 2015.</strong>

                    <br/>
                    Brucia all'inferno, Expo!
                </div>
            </div>
        </div>
    </button>
</li>
