<div id="search-controls">
    <input id="search" type="search"  
    ng-model="term"
    ng-keyup="$event.keyCode == 13 ? search() : null"
    placeholder="Search" 
    class="form-control" 
    required/>

    <button id="search-btn" class="btn btn-primary fa fa-search" ng-click="search()"></button>

    <div class="popover bottom fade in">
        <div class="arrow"></div>
        <div class="popover-inner">
            <div class="popover-content ng-binding">
                Please specify a search criteria.
            </div>
        </div>
    </div>
</div>
