<nav id="side-menu-nav">
    <div id="close-wrapper">
        <button id="close" class="btn fa fa-times" ng-click="toggleSideMenu()"></button>
    </div>

    <ul class="side-menu-nav-list">
        <li class="side-menu-item text-center">
            <h2 id="side-menu-logo">
                <a href="http://www.riplive.it">
                    <img src="img/logo_small.png" alt="Radio Illusioni Parallele" title="Radio Illusioni Parallele">
                    Riplive.it
                </a>
            </h2>
        </li>

        <li class="side-menu-item">
            <search></search>
        </li>

        <li class="side-menu-item">
            <a class="side-menu-link" ng-href="/artists">
                <span class="btn btn-artists fa fa-user"></span>
                Artists
            </a>
        </li>

        <li class="side-menu-item">
            <a class="side-menu-link" ng-href="/authors">
                <span class="btn btn-authors fa fa-pencil"></span>
                Authors
            </a>
        </li>

        <li class="side-menu-item">
            <a class="side-menu-link" ng-href="/charts">
                <span class="btn btn-charts fa fa-bar-chart-o"></span>
                Charts
            </a>
        </li>

        <!--
        <li>
            <a class="side-menu-link" ng-href="/labels">
                <span class="btn btn-labels fa fa-bookmark-o"></span>
                Labels
            </a>
        </li>
        -->

        <li class="side-menu-item">
            <a class="side-menu-link" ng-href="/news">
                <span class="btn btn-news fa fa-bullhorn"></span>
                News
            </a>
        </li>

        <li class="side-menu-item">
            <a class="side-menu-link" ng-href="/photos">
                <span class="btn btn-photos fa fa-camera"></span>
                Photos
            </a>
        </li>

        <li class="side-menu-item">
            <a class="side-menu-link" ng-href="/podcasts">
                <span class="btn btn-podcasts fa fa-cloud"></span>
                Podcasts
            </a>
        </li>

        <li class="side-menu-item">
            <a class="side-menu-link" ng-href="/programs">
                <span class="btn btn-programs fa fa-microphone"></span>
                Programs
            </a>
        </li>

        <li class="side-menu-item">
            <a class="side-menu-link" ng-href="/schedule">
                <span class="btn btn-schedule fa fa-calendar-o"></span>
                Schedule
            </a>
        </li>

        <li class="side-menu-item">
            <a class="side-menu-link" ng-href="/songs">
                <span class="btn btn-songs fa fa-headphones"></span>
                Songs
            </a>
        </li>
    </ul>
</nav>
