<div class="list-controls">
    <button class="btn btn-like">
        <span class="fa fa-heart"></span>

        <div class="popover top fade in">
            <div class="arrow"></div>
            <div class="popover-inner">
                <div class="popover-content ng-binding">
                    Thank you!
                </div>
            </div>
        </div>
    </button>

    <div class="btn btn-vote">
        {{userVote}}
        
        <span class="text">
            Votes
        </span>
    </div>
</div>
