.media-wrapper {
    overflow: hidden;
}

.media-wrapper-title {
    border-top: 4px solid @light-gray;
    margin: 20px;
    padding-top: 20px;
}

.media-block {
    margin: 0 auto;
    max-width: 470px;
    position: relative;

    &.media-block-first {
        max-width: 100%;

        > .thumbnail {
            overflow: hidden;
            width: 100%;

            @media(min-width: @screen-sm) {
                float: left;
                width: 50%;
            }

            .media-block-img {
                height: 100%;
                min-height: 300px;
                width: 100%;
            }
        }

        .caption {
            background-color: @black;
            border: none;
            bottom: 0;
            color: @white;
            left: 0;
            opacity: .85;
            position: absolute;
            width: 100%;

            a {
                color: @white;
            }
        }

        .caption-title {
            font-size: 20px;
            font-weight: bold;
            height: 48px;
            min-height: 48px;
            overflow: hidden;
            position: relative;

            &:after {
                height: 20px;
            }
        }

        .media-block-author {
            margin: 15px 0;
        }

        .single-share {
            display: none;

            @media(min-width: @screen-md) {
                bottom: 15px;
                display: block;
                position: absolute;
                right: 15px;
            }

            .btn {
                @media(min-width: @screen-md) {
                    font-size: 14px;
                    padding: 6px 12px;
                    width: 40px;
                }
            }
        }
    }

    .media-block-title {
        text-transform: uppercase;
    }

    > .thumbnail {
        border-radius: 0;
        margin-bottom: 20px;
        padding: 0;
        position: relative;

        &.thumbnail-fixed {
            height: 340px;

            @media(min-width: @screen-sm) {
                height: 360px;        
            }

            @media(min-width: @screen-md) {
                height: 400px;
            }
        }

        @media(min-width: @screen-sm) {
            margin-bottom: 30px;
        }

        .media-block-link {
            background-color: #f2f2f2;
            display: block;
            overflow: hidden;
            position: relative;
            text-align: center;

            &:hover {
                .media-block-img {
                    .scale3d(1.1, 1.1, 1);
                    z-index: 2;
                }
            }

            .media-block-img {
                display: inline-block;
                height: 200px;
                width: auto;
            }
        }
    }

    .media-block-category {
        left: 0;
        position: absolute;
        top: 0;
    }
    
    .media-block-more {
        bottom: 10px;
        position: absolute;
        right: 10px;
    }
}
