<div id="author" class="single content">
    <div class="cover-wrapper">
        <div class="cover" ng-style="{'background-image': 'url(' + author.author_images['image_large'] + ')'}">
            <div class="cover-picker">
                <header class="cover-header">
                    <a ng-href="/authors" class="cover-label btn btn-news">
                        <span class="fa fa-pencil"></span> Authors
                    </a>

                    <h1 class="cover-title">
                        {{author.nickname}}
                    </h1>

                    <h2 class="cover-info">
                        <a class="color-news" ng-href="/authors/{{news.author.slug}}">
                            {{author.email}}
                        </a>

                        <br/>

                        <br/>

                        <span>
                            {{author.first_name}} {{author.last_name}}
                        </span>
                    </h2>
                </header>
            </div>
        </div>
    </div>

    <article class="single-article col-lg-6 col-lg-offset-3">
        <p ng-bind-html="author.description">

        </p>
    </article>
</div>
