<div id="news" class="single content container-fluid" itemscope itemtype="http://schema.org/Article">
    <div class="cover-wrapper">
        <div class="cover" ng-style="{'background-image': 'url(' + news.thumbnail_images['full']['url'] + ')'}">
            <div class="cover-picker">
                <header class="cover-header">
                    <a ng-href="/categories/{{news.categories[0]['slug']}}" class="cover-label btn btn-news">
                        <span class="fa fa-bullhorn"></span> {{news.categories[0]['title']}}
                    </a>

                    <h1 class="cover-title" itemprop="name">
                        {{news.title}}
                    </h1>

                    <figure class="cover-author-picture">
                        <a ng-href="/authors/{{author.slug}}">
                            <img ng-src="{{author.author_images['thumbnail']}}" title="{{news.author.nickname}}" />
                        </a>
                    </figure>

                    <h2 class="cover-info">
                        By

                        <a class="color-news" ng-href="/authors/{{news.author.slug}}" itemprop="author">
                            {{news.author.nickname}}
                        </a>
                        -

                        <span itemprop="datePublished">
                            {{news.date | dateFormat}}
                        </span>
                    </h2>
                </header>
            </div>
        </div>
    </div>

    <article class="single-article col-lg-6 col-lg-offset-3" ng-bind-html="news.content | unsafeHtml" itemprop="articleBody"></article>

    <div class="single-article-info col-lg-6 col-lg-offset-3">
        <div class="row">
            <div class="single-article-author col-lg-6" itemscope itemtype="http://schema.org/Person">
                <h4 itemprop="name">
                    <small>Written By</small> 
                </h4>

                <article class="author-info">
                    <a class="pull-left author-picture" ng-href="/authors/{{author.slug}}">
                        <img ng-src="{{author.author_images['thumbnail']}}" title="{{news.author.nickname}}" itemprop="image" />
                    </a>

                    <p class="pull-left">
                        <h4 itemprop="name">
                            {{author.nickname}}
                        </h4>
                        <h5 itemprop="email">
                            {{author.email}}
                        </h5>
                        
                        <p ng-bind-html="(author.description | limitTo : 280) + '...'" itemprop="description"></p>
                    </p>
                </article>
            </div>

            <div class="single-article-taxonomy col-lg-6">
                <h4>
                    <strong>
                        Category:
                    </strong>

                    <span ng-repeat="c in news.categories">
                        <a ng-href="/categories/{{news.categories[0]['slug']}}" itemprop="genre">
                            {{c.title}}{{$last ? '' : ', '}}
                        </a>
                    </span>
                </h4>

                <h4>
                    <strong>
                        Tags :
                    </strong>

                    <span ng-repeat="t in news.tags">
                        <a ng-href="/tags/{{t.slug}}" itemprop="keywords">
                            {{t.title}}{{$last ? '' : ', '}}
                        </a>
                    </span>
                </h4>

                <h4 class="bold">
                    Share this article <span class="fa fa-heart"></span>
                </h4>

                <social-buttons data-href="'/news/' + news.slug" data-image="news.thumbnail_images.thumbnail.url" data-title="news.title" data-text="news.excerpt | stripHtml"></social-buttons>
            </div>
        </div>
    </div>

    <div class="single-navigation">
        <a ng-href="/news/{{news.previous_slug}}" class="single-article-prev bold" ng-show="news.previous_slug">
            <span class="fa fa-chevron-left"></span> Previous in series
        </a>

        <a ng-href="/news/{{news.next_slug}}" class="single-article-next bold" ng-show="news.next_slug">
            Next in series <span class="fa fa-chevron-right"></span>
        </a>
    </div>
</div>
