<div id="news-list" class="content" when-scrolled="loadData()">
    <h1 class="single-title text-center">
        News
    </h1>

    <h2 class="single-subtitle text-center">
        {{subtitle}}
    </h2>

    <div class="media-wrapper visible-xs">
        <div class="media media-first" ng-show="firsts" ng-repeat="first in firsts">
            <h5 class="media-label btn-news">
                <a class="color-white" ng-href="/categories/{{first.categories[0]['slug']}}">
                    {{first.categories[0]['title']}}
                </a>
            </h5>

            <a ng-href="/news/{{first.slug}}">
                <img class="media-object" ng-src="{{first.thumbnail_images.thumbnail.url}}" alt="{{first.title}}" />
            </a>

            <div class="media-body">
                <h5 class="media-heading">
                    <a ng-href="/news/{{first.slug}}">
                        {{first.title}}
                    </a>
                </h5>
                
                <p ng-bind-html="(first.excerpt | limitTo:80) + '...'"></p>

                <h6>
                    By
                    
                    <a class="color-news" ng-href="/authors/{{first.author.nickname}}">
                        {{first.author.nickname}}
                    </a>
                    -

                    <span>
                        {{first.date | dateFormat}}
                    </span>
                </h6>
            </div>
        </div>

        <div class="media" ng-repeat="p in posts">
            <h6 class="media-label btn-news">
                <a class="color-white" ng-href="/categories/{{p.categories[0]['slug']}}">
                    {{p.categories[0]['title']}}
                </a>
            </h6>

            <a ng-href="/news/{{p.slug}}">
                <img class="media-object pull-left" ng-src="{{p.thumbnail_images.thumbnail.url}}" alt="{{p.title}}" />
            </a>

            <div class="media-body">
                <h5 class="media-heading">
                    <a ng-href="/news/{{p.slug}}">
                        {{p.title}}
                    </a>
                </h5>
               
                <h6>
                    By
                    
                    <a class="color-news" ng-href="/authors/{{p.author.nickname}}">
                        {{p.author.nickname}}
                    </a>
                    -

                    <span>
                        {{p.date | dateFormat}}
                    </span>
                </h6>
            </div>
        </div>

        <loading-spinner data-visible="loading"></loading-spinner>
    </div>

    <div class="media-block-wrapper hidden-xs">
        <div class="media-block media-block-first col-lg-12" ng-show="firsts">
            <div class="thumbnail" ng-repeat="first in firsts">
                <a class="media-block-link" ng-href="/news/{{first.slug}}">
                    <img class="media-block-img" ng-src="{{first.thumbnail_images.medium.url}}" alt="{{first.title}}" />
                </a>

                <a ng-href="/categories/{{first.categories[0]['slug']}}" class="media-block-category btn btn-xs btn-news">
                    {{first.categories[0]['title']}}
                </a>

                <div class="caption">
                    <h3 class="bold">
                        <a ng-href="/news/{{first.slug}}">
                            {{first.title}}
                        </a>
                    </h3>

                    <h5 class="media-block-author">
                        By
                        
                        <a class="color-news" ng-href="/authors/{{first.author.nickname}}">
                            {{first.author.nickname}}
                        </a>
                        
                        -

                        <span>
                            {{first.date | dateFormat}}
                        </span>
                    </h5>
                </div>
                
                <social-buttons data-href="'/news/' + first.slug" data-image="first.thumbnail_images.medium.url" data-title="first.title" data-text="first.excerpt | stripHtml">
                </social-buttons>
            </div>
        </div>

        <h4 class="media-block-subtitle bolder">
            <span class="fa fa-bullhorn"></span> Latests articles
        </h4>
        
        <div class="media-block col-sm-4 col-md-4 col-lg-3" ng-repeat="p in posts">
            <div class="thumbnail thumbnail-fixed">

                <a class="media-block-link" ng-href="/news/{{p.slug}}">
                    <img class="media-block-img" ng-src="{{p.thumbnail_images.medium.url}}" alt="{{p.title}}" />
                </a>

                <a ng-href="/categories/{{p.categories[0]['slug']}}" class="media-block-category btn btn-xs btn-news">
                    {{p.categories[0]['title']}}
                </a>

                <div class="caption">
                    <h3 class="bold">
                        <a ng-href="/news/{{p.slug}}">
                            {{p.title}}
                        </a>
                    </h3>

                    <p ng-bind-html="(p.excerpt | limitTo : 50) + '...'" class="visible-md visible-lg"></p>

                    <h5>
                        By
                        
                        <a class="color-news" ng-href="/authors/{{p.author.nickname}}">
                            {{p.author.nickname}}
                        </a>
                        
                        -

                        <span>
                            {{p.date | dateFormat}}
                        </span>
                    </h5>
                </div>

                <a ng-href="/news/{{p.slug}}" class="media-block-more btn btn-neutral" role="button">
                    Read
                </a> 
            </div>
        </div>

        <loading-spinner data-visible="loading"></loading-spinner>
    </div>
</div>
