<div id="podcast" class="single content container-fluid">
    <div class="cover-wrapper">
        <div class="cover" ng-style="{'background-image': 'url(' + podcast.podcast_images['image_large'] + ')'}">
            <div class="cover-picker">
                <header class="cover-header">
                    <a ng-href="/podcasts" class="cover-label btn btn-podcasts" role="button">
                        <span class="fa fa-cloud"></span> Podcasts
                    </a>

                    <h1 class="cover-title">
                        {{podcast.title}}
                    </h1>

                    <figure class="cover-author-pictures">
                        <a ng-repeat="a in podcast.authors" ng-href="/authors/{{a.slug}}">
                            <img ng-src="{{a.author_images['thumbnail']}}" title="{{a.nickname}}" />
                        </a>
                    </figure>

                    <h2 class="cover-author">
                        <span>
                            {{podcast.date | dateFormat}}
                        </span>
                    </h2>
                </header>
            </div>
        </div>
    </div>

    <article class="single-article col-lg-6 col-lg-offset-3">
        <streaming-player data-audio="podcast.url" data-autoplay="true" data-show-controls="true" data-is-streaming="false"></streaming-player>

        <p>
            {{podcast.summary}}
        </p>
    </article>

    <div class="single-article-info col-lg-6 col-lg-offset-3">
        <div class="row">
            <div class="single-article-author col-lg-6">
                <h4 class="bold">
                    <a ng-href="/programs/{{podcast.program_slug}}" title="{{podcast.program_title}}">
                        {{podcast.program_title}}
                    </a>
                </h4>

                <p ng-bind-html="podcast.program_content">
                </p>
            </div>

            <div class="single-article-author col-lg-6">
                <h4 class="bold">
                    With
                </h4>

                <p class="author-info">
                    <a class="pull-left author-picture" ng-repeat="a in podcast.authors" ng-href="/authors/{{a.slug}}">
                        <img ng-src="{{a.author_images['thumbnail']}}" title="{{a.nickname}}" />
                    </a>

                    <span ng-bind-html="(a.description | limitTo : 280) + '...'"></span>
                </p>
            </div>

            <div class="single-article-taxonomy col-lg-6">
                <h4 class="bold">
                    Share this
                </h4>

                <social-buttons data-href="'/podcasts/' + podcast.program_slug + podcast.id" data-image="podcast.podcast_images['thumbnail']" data-title="podcast.title" data-text="podcast.summary | stripHtml"></social-buttons>
            </div>
        </div>
    </div>

</div>
