<div id="podcast" class="single content container-fluid">
    <div class="cover-wrapper">
        <div class="cover" ng-style="{'background-image': 'url(' + program['program_images']['image_large'] + ')'}">
            <div class="cover-picker">
                <header class="cover-header">
                    <a ng-href="/programs" class="cover-label btn btn-programs">
                        <span class="fa fa-microphone"></span> Programs
                    </a>

                    <h1 class="cover-title">
                        {{program.program_title}}
                    </h1>

                    <figure class="cover-author-pictures">
                        <a ng-repeat="a in program.program_information['programs-authors']" ng-href="/authors/{{a.slug}}">
                            <img ng-src="{{a.author_images['thumbnail']}}" title="{{a.nickname}}" />
                        </a>
                    </figure>

                    <h2 class="cover-author">
                        <span ng-repeat="d in program.program_information['programs-days']">
                            On {{d}}, at {{program.program_information['programs-schedule']}}
                        </span>
                    </h2>
                </header>
            </div>
        </div>
    </div>

    <article class="single-article col-lg-6 col-lg-offset-3">
        <p ng-bind-html="program.program_content"></p>

        <div class="song-controls">
            <a ng-href="/podcasts/{{program.slug}}" ng-show="program.total_podcasts" class="btn btn-vote btn-lg btn-programs color-white">
                Total Podcasts {{program.total_podcasts}}
            </a>
        </div>
    </article>

    <div class="single-article-info col-lg-6 col-lg-offset-3">
        <div class="row">
            <div class="single-article-author col-lg-6">
                <h4 class="bold">
                    {{program.program_title}}
                </h4>

                <ul id="information">
                    <li class="information-item">
                        Program Run:
                        <strong>
                            <span ng-repeat="d in program.program_information['programs-days']">
                                On {{d}}, at {{program.program_information['programs-schedule']}}
                            </span>
                        </strong>
                    </li>
                    <li class="information-item">
                        Program ReRun:
                        <strong>
                            <span ng-repeat="d in program.program_information['reruns-days']">
                                On {{d}}, at {{program.program_information['reruns-schedule']}}
                            </span>
                        </strong>
                    </li>
                </ul>
            </div>

            <div class="single-article-taxonomy col-lg-6">
                <h4 class="bold">
                    Follow {{program.program_title}} on:
                </h4>

                <div class="single-share">
                    <a ng-href="{{program.program_information['programs-facebook']}}" ng-show="program.program_information['programs-facebook']" class="btn btn-lg btn-fb fa fa-facebook"></a>

                    <a ng-href="{{program.program_information['programs-twitter']}}" ng-show="program.program_information['programs-twitter']" class="btn btn-lg btn-twitter fa fa-twitter"></a>

                    <a ng-href="{{program.program_information['programs-facebook']}}" ng-show="program.program_information['programs-facebook']" class="btn btn-lg btn-facebook fa fa-facebook"></a>
                </div>
            </div>
        </div>
    </div>
</div>
