<div id="programs-list" class="content" when-scrolled="loadData()">
    <h1 class="single-title text-center">
        Programs
    </h1>

    <div class="media-wrapper visible-xs">
        <div class="media" ng-repeat="p in programs">
            <h6 class="media-label btn-programs">
                <a class="color-white" ng-href="">
                    {{p.program_category[0]['name']}}
                </a>
            </h6>

            <a ng-href="/programs/{{p.slug}}">
                <img class="media-object pull-left" ng-src="{{p.program_images['thumbnail']}}" alt="{{p.title}}" />
            </a>

            <div class="media-body">
                <h5 class="media-heading">
                    <a ng-href="/programs/{{p.slug}}">
                        {{p.program_title}}
                    </a>
                </h5>

                <h6>
                    <span ng-repeat="d in p.program_information['programs-days']">
                        On {{d}},
                        at {{p.program_information['programs-schedule']}}
                    </span>
                </h6>

                <h6>
                    With:
                    
                    <a ng-repeat="a in p.program_information['programs-authors']" ng-href="/authors/{{a.nickname}}">
                        {{a.nickname}}{{$last ? '' : ', '}}
                    </a>
                </h6>
            </div>
        </div>

        <loading-spinner data-visible="loading"></loading-spinner>
    </div>

    <div class="media-block-wrapper hidden-xs">
        <h4 class="media-block-subtitle bolder">
            <span class="fa fa-microphone"></span> All programs
        </h4>

        <div class="media-block col-sm-4 col-md-4 col-lg-3" ng-repeat="p in programs">
            <div class="thumbnail thumbnail-fixed">

                <a class="media-block-link" ng-href="/programs/{{p.slug}}">
                    <img class="media-block-img" ng-src="{{p.program_images['image_medium']}}" alt="{{p.title}}" />
                </a>

                <a ng-href="" class="media-block-category btn btn-xs btn-programs">
                    {{p.program_category[0]['name']}}
                </a>

                <div class="caption">
                    <h3 class="bold">
                        <a ng-href="/programs/{{p.slug}}">
                            {{p.program_title}}
                        </a>
                    </h3>

                    <h4>
                        <span ng-repeat="d in p.program_information['programs-days']">
                            On {{d}},
                            at {{p.program_information['programs-schedule']}}
                        </span>
                    </h4>

                    <h5>
                        With:
                        
                        <a ng-repeat="a in p.program_information['programs-authors']" ng-href="/authors/{{a.nickname}}">
                            {{a.nickname}}{{$last ? '' : ', '}}
                        </a>
                    </h5>
                </div>

                <a ng-href="/programs/{{p.slug}}" class="media-block-more btn btn-neutral" role="button">
                    Discover
                </a> 
            </div>
        </div>

        <loading-spinner data-visible="loading"></loading-spinner>
    </div>
</div>
