@import 'variables';
@import 'fonts.less';
@import 'typography';
@import 'mixins.less';
@import 'components.less';

@import 'header.less';
@import 'highlights.less';
@import 'main.less';
@import 'navbar.less';
@import 'on-air.less';
@import 'side-menu.less';
@import 'single.less';
@import 'footer.less';

#container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

#inner-wrapper.menu-open #header,
#inner-wrapper.menu-open #main {
    .backface-visibility;
    .translate3d(-75%);
}

/* Thumbnail instagram */
#main #photos-control .btn.rotated {
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}

#main .media-block-instagram {
    height: auto;
    overflow: hidden;
       -moz-transition: all 700ms ease-in-out;
         -o-transition: all 700ms ease-in-out;
    -webkit-transition: all 700ms ease-in-out;
            transition: all 700ms ease-in-out;
}

#main .media-wrapper-large .media-block-instagram {
    float: none;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: 70%;
}

#main .media-block-instagram .caption {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    color: #FFF;
    position: absolute;
    visibility: hidden;
    width: 100%;
}

#main .media-block-instagram .caption h5 {
    font-size: 0.67em;
    text-transform: uppercase;
}

#main .media-block-instagram img {
    width: 100%;
}

#main .media-block-instagram .single-share {
    bottom: 10px;
    position: absolute;
    right: 10px;
}

#main .media-wrapper-large .media-block-instagram .caption,
#main .media-block-instagram:hover .caption {
    font-size: 1.5em;
    visibility: visible;
}






/* PAGE SPECIFIC STYLES */


/* CHARTS */
#main .list-group-item .list-controls {
    margin: 10px auto;
}

#main .list-group-item .list-controls .btn {
    display: inline-block;
    font-size: 18px;
    width: 55px;
}

#main .list-group-item .list-controls .btn-vote {
    color: #FFF;
}

#main .list-group-item .list-controls .btn-vote:hover {
    cursor: default;
}

#main #chart .btn-like {
    position: relative;
}

#main #chart .btn-like .popover {
    border: 1px solid #f2f2f2
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    display: none;
    left: 50%;
    margin-left: -100px;
    text-align: center;
    top: -50px;
    width: 200px;
}

/* PODCAST */
#podcast .player-container {
    margin: 20px 0;
    overflow: hidden;
    text-align: center;
}

#podcast .player-container .btn {
    border: 5px solid #FFF;
    display: block;
    float: left;
    font-size: 3em;
    padding: 30px;
    width: 50%;
}

#podcast .player-container .btn:hover {
    background-color: #f8941e;
    color: #FFF;
}

#podcast .player-container .player-volume-up,
#podcast .player-container .player-volume-off {
    display: none;
}

#podcast .player-container .jp-progress {
    background: none;
    background-color: #f2f2f2;
    border: 5px solid #fff;
    display: block !important;
    height: 40px;
    margin: 5px 0;
    overflow: hidden;
    padding: 0;
    visibility: visible!important;
    width: 100%;
}

#podcast .player-container .jp-seek-bar {
    background: none;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    width: 0px;
}

#podcast .player-container .jp-play-bar {
    background: none;
    background-color: #f8941e;
    height: 100%;
    overflow: hidden;
    width: 0px;
}

#podcast .player-container .jp-time-holder {
    display: block !important;
    visibility: visible!important;
}

#podcast .player-container .jp-current-time,
#podcast .player-container .jp-duration {
    color: #000;
    font-size: 1em;
}

#podcast .player-container .jp-current-time {
    float: left;
    padding-left: 5px;
    text-align: left;
}

#podcast .player-container .jp-duration {
    float: right;
    padding-right: 5px;
    text-align: right;
}

#main #schedule-legend {
    border: 1px solid #f2f2f2;
    padding: 5px;
}

#main #schedule-legend .legend-title {
    margin: 5px 10px;
}

#main #schedule-legend .unordered {
    list-style-type: none;
    padding: 0;
}

#main #schedule-legend .unordered .legend-item {
    display: inline-block;
    margin: 10px;
}

#main #schedule-legend .btn {
    width: 50px;
}



@media(min-width:768px) {
    #header.header-translated {
        position: fixed;
           -moz-transform: translate3d(0, -500px, 0) scale3d(1, 1, 1);
            -ms-transform: translate3d(0, -500px, 0) scale3d(1, 1, 1);
             -o-transform: translate3d(0, -500px, 0) scale3d(1, 1, 1);
        -webkit-transform: translate3d(0, -500px, 0) scale3d(1, 1, 1);
                transform: translate3d(0, -500px, 0) scale3d(1, 1, 1);
                -webkit-backface-visibility: hidden;
                   -moz-backface-visibility: hidden;
                    -ms-backface-visibility: hidden;
                     -o-backface-visibility: hidden;
                        backface-visibility: hidden;
    }

    #hg {
        height: 500px;
    }

    #hg .hg-grid .hg-figure {
        height: 250px;
        padding: 0;
        position: relative;
        width: 50%;
    }

    #hg .hg-grid .hg-figure h3 {
        font-size: 16px;
    }

    #hg .hg-grid .hg-figure h4 {
        font-size: 14px;
    }

    #navbar #navbar-control.slided {
        display: block!important;
           -moz-transform: translate3d(300px, 0, 0) scale3d(1, 1, 1);
            -ms-transform: translate3d(300px, 0, 0) scale3d(1, 1, 1);
             -o-transform: translate3d(300px, 0, 0) scale3d(1, 1, 1);
        -webkit-transform: translate3d(300px, 0, 0) scale3d(1, 1, 1);
                transform: translate3d(300px, 0, 0) scale3d(1, 1, 1);
        visibility: visible!important;
    }

    #navbar .player-volume-up, 
    #navbar .player-volume-off {
        display: block;
        visibility: visible;
    }

    /* On air widget. */
    #on-air #cover {
        left: 0;
        position: absolute;
        width: 50%;
    }

    #on-air #song-content {
        background-color: #FFF;
        border-bottom: 1px solid #F2F2F2;
        display: block;
        height: 100%;
        overflow-y: scroll;
        position: absolute;
        right: 0;
        visibility: visible;
        width: 50%;
    }

    #on-air #song-content h4:first-of-type {
        padding-top: 20px;
    }

    #on-air #song-content h4 {
        padding: 0 0 0 20px;
        text-align: left;
    }

    #on-air #lyrics {
        font-size: 16px;
        padding: 0 0 0 20px;
        text-align: left;
    }

    #on-air .player-control {
        border-left: 1px solid #F2F2F2;
        border-right: 1px solid #F2F2F2;
        float: left;
        width: 33.3%;
    }

    #on-air .player-volume-up, 
    #on-air .player-volume-off {
        display: block;
        visibility: visible;
    }

    #on-air #like {
        bottom: 0;
        height: 25%;
        left: 0;
        position: absolute;
    }

    /* Main content general rules */
    #main .content h1.single-title {
       font-size: 72px;
       margin: 0 0 25px;
       padding: 25px 15px 0;
       text-transform: uppercase;
    }

    #main .content h2.single-subtitle {
       font-size: 36px;
       margin: 0 0 25px;
    }

    #main .content h4.single-heading {
       margin: 20px 0;
       padding: 0 50px;
    }

    /* Media block elements */
    #main .media-block > .thumbnail {
        margin-bottom: 30px;
    }

    #main .media-block > .thumbnail.thumbnail-fixed {
        height: 360px;        
    }
    
    /* Media Block First Article */
    #main .media-block.media-block-first > .thumbnail {
        float: left;
        width: 50%;
    }

    /* List elements */
    #main .list-group.collapsed .list-divider {
        padding-left: 20px;
        text-align: left;
    }

    #main .list-group .list-group-item,
    #main .list-group.collapsed .list-group-item {
        padding: 20px 15px;
        text-align: left;
    }

    #main .list-group.collapsed .list-group-item .list-object {
        float: left !important;
    }

    #main .list-group.collapsed .list-group-item .list-body {
        float: left !important;
        width: 80%;
    }

    /* SINGLE AND COVER*/
    #main .cover-wrapper {
        height: 700px;
    }

    #main .cover .cover-header {
        margin: 0 auto;
        width: 675px;
    }

    #main .cover .cover-header .cover-title {
        font-size: 32px;
    }

    /* SINGLE */
    #main .single .single-article img.alignright { height: auto;width: auto;}
    #main .single .single-article img.alignleft { height: auto;width: auto;}
    #main .single .single-article img.aligncenter { height: auto;width: auto;}
    #main .single .single-article a img.alignright { height: auto;width: auto;}
    #main .single .single-article a img.alignleft { height: auto;width: auto;}
    #main .single .single-article a img.aligncenter { height: auto;width: auto;}

    #main .single .single-article-info .single-share .btn {
        font-size: 2em;
        margin: 5px 0;
        width: 150px;
    }

    #main .single .single-article-prev,
    #main .single .single-article-next {
        width: 100px;
    }

    #main #comments {
        overflow: hidden;
        padding-bottom: 35px;
        padding-top: 35px;
    }

    #main #comments #disqus_thread {
        margin-top: 35px;
    }

    /* PAGE SPECIFIC STYLES */
    /* hide last podcast in homepage on 3 column */
    #main .list-group-item .list-controls {
        margin-top: -17.5px;
        position: absolute;
        right: 25px;
        top: 50%;
    }

    #main #podcasts-block .media-block:last-of-type {
        display: none;
    }

    #podcast .player-container .btn {
        font-size: 5em;
        width: 25%;
    }

    #podcast .player-container .player-volume-up,
    #podcast .player-container .player-volume-off {
        display: block;
    }

}

@media(min-width:992px) {
    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 18px;
    }

    #main .media-block > .thumbnail.thumbnail-fixed {
        height: 400px;        
    }

    #main .media-block.media-block-first .single-share {
        bottom: 15px;
        display: block;
        position: absolute;
        right: 15px;
    }

    #main .media-block.media-block-first .single-share .btn {
        font-size: 14px;
        padding: 6px 12px;
        width: 40px;
    }

    #main .single .single-article-prev,
    #main .single .single-article-next {
        width: 20%;
    }

}

@media(min-width:1200px) {
    #hg .hg-grid .hg-figure {
        height: 250px;
        padding: 0;
        position: relative;
        width: 33.33%;
    }

    /* Media block elements */
    #main .media-block .caption .caption-title {
        font-size: 20px;
        font-weight: bold;
        height: 48px;
        min-height: 48px;
        overflow: hidden;
        position: relative;
    }    

    #main .media-block .caption .caption-title::after {
        height: 20px;
    }

    /* Single article */
    #main .single .single-article-info .single-share .btn {
        margin: 0;
        width: 49%;
    }

    #main .single .single-article-prev,
    #main .single .single-article-next {
        text-transform: uppercase;
        width: 220px;
    }

    /* hide last podcast in homepage on 3 column */
    #main #podcasts-block .media-block:last-of-type {
        display: block;
    }
}
