<nav id="side-menu-nav">
    <ul>
        <li>
            <h1 id="big-logo" class="color-white">
                <a class="side-menu-link" ng-href="/">
                    Riplive.it
                </a>
            </h1>
        </li>
        <li>
            <search></search>
        </li>
        <li>
            <a class="side-menu-link" ng-href="/artists">
                <span class="btn btn-artists fa fa-user"></span>
                Artists
            </a>
        </li>
        <li>
            <a class="side-menu-link" ng-href="/authors">
                <span class="btn btn-authors fa fa-pencil"></span>
                Authors
            </a>
        </li>
        <li>
            <a class="side-menu-link" ng-href="/charts">
                <span class="btn btn-charts fa fa-bar-chart-o"></span>
                Charts
            </a>
        </li>
        <!--
        <li>
            <a class="side-menu-link" ng-href="/labels">
                <span class="btn btn-labels fa fa-bookmark-o"></span>
                Labels
            </a>
        </li>
        -->
        <li>
            <a class="side-menu-link" ng-href="/news">
                <span class="btn btn-news fa fa-bullhorn"></span>
                News
            </a>
        </li>
        <li>
            <a class="side-menu-link" ng-href="/podcasts">
                <span class="btn btn-podcasts fa fa-cloud"></span>
                Podcasts
            </a>
        </li>
        <li>
            <a class="side-menu-link" ng-href="/programs">
                <span class="btn btn-programs fa fa-microphone"></span>
                Programs
            </a>
        </li>
        <li>
            <a class="side-menu-link" ng-href="/schedule">
                <span class="btn btn-schedule fa fa-calendar-o"></span>
                Schedule
            </a>
        </li>
        <li>
            <a class="side-menu-link" ng-href="/songs">
                <span class="btn btn-songs fa fa-headphones"></span>
                Songs
            </a>
        </li>
    </ul>
</nav>
